* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo {
    width: 100px;
  }
  
  .logo img {
    width: 81px;
    height: 64px;
  
  }
  
  .navbar {
    height: 68px;
    background-image: linear-gradient(#7f9e1d,#fff);
    display: flex;
    align-items: center;
}
  
  .brandname {
    margin-left: 40%;
    font-size: 20px;
    padding: 20px;
    
  }

  h1 {
    font-size: 30px;
   
  }

  
  .box img{
    width:100%;
    height:550px;
  }
  .form-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:#ffffffae;
    text-align: center;
    border-radius:15px;
    margin:15px;
  }
  .sign{
    font-size: 40px;
  }
  .input-field{
    background-color:#eaeaea;
    margin:7px 50px;
    border-radius: 6px;
    display:flex;
    text-align: center;
  }
  input{
    padding:19px 9px;
    font-size: 20px;
    border-radius: 20px;
  }
  .btn{
    width:100%;
    justify-content:space-between;
  }
  .btn button{
    background-color: rgba(0, 0, 0, 0.782);
      color:#ffffff;
      height:50px;
      width:40%;
      border-radius:5px;
      border:0;
      outline:0;
      cursor: pointer;
      font-size: 25px;
      border-radius: 20px;
      margin:20px;
  }
  
  